@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
button {
    color: aliceblue !important;
    font-family: 'Oswald', sans-serif !important;
}

figure {
    background: #328c99 !important;
}

h2 {
    color: slateblue;
}


/* .makeStyles-stripe-10 {
    font-family: 'Oswald', sans-serif !important;
    color: red;
} */