@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
.bm-item {
    display: inline-block;
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
}

/* .menu-item:hover {
    color: red;
} */

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
}


/* Color/shape of burger icon bars */

/* .bm-burger-bars {
    background: #373a47;
} */


/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
}


/* Color/shape of close button cross */

.bm-cross {
    background: #bdc3c7;
}


/* General sidebar styles */

.bm-menu {
    background: #273746;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-burger-bars {
    background: khaki;
}


/* Morph shape necessary with bubble or elastic */

.bm-menu {
    background: #312450;
}


/* Styling of overlay */

.bm-overlay {
    background: rgba(0, 0, 0, 0.9);
}

.menu-item {
    color: lightcyan;
    font-family: 'Oswald';
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

a {
    outline: 0;

}